.container {
  display: flex;
  flex-direction: column;
}

.container input {
  margin-bottom: 1rem;
  background-color: #010c20;
  color: #9fa6b1;
  border: none;
  padding: 0px 12px;
}

.container textarea {
  margin-bottom: 1rem;
  background-color: #010c20;
  color: #9fa6b1;
  border: none;
  padding: 12px 12px;
  font-family: "Raleway", sans-serif;
}

.container button {
  background-color: #8f0b4c;
  border: none;
  color: white;
  padding: 16px 10px;
  transition: background-color 200ms linear;
}

.container button:hover {
  background-color: #5c0731;
  cursor: pointer;
}

.container input {
  height: 3rem;
}

@media (max-width: 800px) {
  .container {
    margin-top: 1rem;
  }
}
