.wrapper {
  padding: 3em 12%;
  color: #f8f8f8;
}

.wrapper h2 {
  font-size: 32px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .container {
    justify-content: center;
  }
}
